*.swp
*.so
*.o
quro_experiments/storedproc/pgsql/c/*.sql
quro_experiments/install_manifest.txt
quro_experiments/log
quro_experiments/CMakeCache.txt
quro_experiments/Makefile
quro_experiments/bin/
quro_experiments/cmake_install.cmake
quro_experiments/egen/*.log
quro_experiments/egen/bin/
quro_experiments/egen/lib/
quro_experiments/egen/obj/
quro_experiments/egen_reorder/*.log
quro_experiments/egen_reorder/bin/
quro_experiments/egen_reorder/lib
quro_experiments/egen_reorder/obj
quro_experiments/CMakeFiles/
