*.swp
*.so
storedproc/pgsql/c/*.sql
install_manifest.txt
log
CMakeCache.txt
Makefile
bin/
cmake_install.cmake
egen/*.log
egen/bin/
egen/lib/
egen/obj/
egen_reorder/*.log
egen_reorder/bin/
egen_reorder/lib
egen_reorder/obj
CMakeFiles/
